@import url('https://fonts.googleapis.com/css2?family=Rubik+Broken+Fax&display=swap');

:root {
  --font-family-main: 'IBM Plex Mono', 'Times New Roman', serif;

  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
}